<div class="modal fade" id="modalnovacidade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Digite o Nome da Cidade</h4>
            </div>
            <div class="modal-body">
                <input type="text" onfocus="GlobalMaps.get().geolocate();" id="autocomplete" class="form-control" autocomplete="off" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="cadastrarCidade">Cadastrar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>  

