<!-- Modal Opçoes de Filtro Para IP-->
<div id="opcoes_Ip" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center text-primary"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Tematicos</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <button type="button" onclick="GlobalMaps.get().EscolhaLampada();" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>&nbspPor Lampada</b></button>
                    <button type="button" onclick="GlobalMaps.get().EscolhaPotencia();" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbspPor Potencia</b></button>
                    <button type="button" onclick="" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span>&nbspPor Braço</b></button>
                    <button type="button" onclick="" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>&nbspPor Acionamento</b></button>
                    <button type="button" onclick="" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>&nbspPor Quantidade</b></button>
                    <button type="button" onclick="" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbspFoto</b></button>
                    <button type="button" onclick="" class="list-group-item"><b class="text-primary"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbspFiltro Combinado</b></button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Fechar</button>
            </div>
        </div>
    </div>
</div>
